h1 {
    text-align: center;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/*Formulario*/
form {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/*Campos de texto y select*/
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Boton de radio*/
input[type="radio"] {
    margin-right: 5px;
}

/*Boton de Enviar*/
input[type="prescripcion"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="prescripcion"]:hover {
    background-color: #45a049;
}

/*Etiquetas*/
label {
    display: block;
    margin-bottom: 5px;
}

/*Contenedores de opciones*/
.profesion-checkbox {
    margin-bottom: 10px;
}

/*Contenedor de boton de radio*/
.sexo-container {
    margin-bottom: 10px;
    /*border: #45a049 1px solid;*/
}

/*Fecha*/
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Mensaje "No existen datos"*/
select[disabled] {
    color: gray;
}

/*Ocultar las flechas en campos de entrada de tipo numero*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*layout*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    /*nav sirve para crear un menu*/
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

footer {
    /*footer sirve para crear un pie de pagina*/
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.cerrar-sesion a {
    position: absolute;
    top: 10px;
    /* Ajusta la distancia desde el borde superior */
    right: 10px;
    /* Ajusta la distancia desde el borde derecho */
    padding: 5px 10px;
    /* Añade espacio interno al botón */
    color: white;
    /* Color del texto del botón */
    text-decoration: none;
    /* Elimina subrayado del enlace */
    border-radius: 5px;
    /* Añade esquinas redondeadas */
}

.cerrar-sesion a:hover {
    background-color: #4b4646;
    /*Color al pasar cursor*/
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #009879;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #036b56;
}

/*Tabla*/
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

/*Celdas de la cabecera*/
.tabla thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

/*Celdas del cuerpo*/
.tabla tbody tr {
    border-bottom: 1px solid #dddddd;
}

/*Alternar color de fila*/
.tabla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/*Celdas de la tabla*/
.tabla tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla td,
.tabla th {
    padding: 12px 15px;
}

/*Botones*/
.tabla button {
    padding: 5px 10px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tabla button:hover {
    background-color: #007f63;
}

/*Boton de Ingresar*/
.btn-ingresar {
    margin-left: 20px;
    /*Espacio entre h2 y boton*/
    padding: 8px 16px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-ingresar:hover {
    background-color: #007f63;
}

/*Formulario Nueva Mascota*/
#modal-container.hidden {
    display: none;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 550px; /*tamanio*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 90%; /*Evita que el modal sea mas grande que la pantalla*/
    overflow-y: auto; /*Añade scroll si el contenido es demasiado grande*/
}

.modal label {
    display: block;
    margin-top: 10px;
}

.modal input,
.modal select,
.modal textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal button[type="submit"] {
    background-color: #009879;
    color: white;
}

.modal button[type="submit"]:hover {
    background-color: #007f63;
}

.modal button[type="button"] {
    background-color: #ccc;
}

.modal button[type="button"]:hover {
    background-color: #999;
}